@import 'wormhole/variables';

/* General */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}
svg {
  display: block;
}
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
body {
  font-size: 16px;
}
header {
  margin: 2rem auto 4rem;
  padding: 0 1rem;
}
hgroup {
  > h2 {
    color: $color-musou;
  }
}
h1, h2 {
  line-height: 1.25em;
}
h2.list-item {
  font-size: 1.5rem;
  margin: 0;
}
figcaption {
  font-size: 0.75rem;
  margin: 0 0.25rem;
}
.title {
  margin: 1rem 0;
}
.textgroup {
  max-width: 32rem;
  width: auto;
}


/* index page */

.pages {
  > .page {
    margin: 1rem;
    padding: 1rem 2rem;
    background: rgba($color-musou, 0.25);
    @include shadow;
  }
}

/* individual pages */

.authorship {
  margin: 1rem 0;
  color: $color-watchout;
  > .item {
    > .job {
      width: 4rem;
      margin-right: 1rem;
      opacity: 0.65;
    }
    > .person:not(:last-of-type) {
      margin-right: 1rem;
    }
  }
}

blockquote {
  @include font-serif;
  font-size: 2rem;
  font-weight: normal;
  @include bp-md-up {
    font-size: 3rem;
  }
}
button {
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  background: rgba($color-musou, 0.65);
  cursor: pointer;
  &:hover, &:active {
    background: rgba($color-musou, 0.85);
    @include shadow;
  }
}

section {
  box-sizing: content-box;
  max-width: 60rem;
  margin: 0 auto;
  padding: 0 1rem;
}

.question {
  > .content {
    margin-bottom: 2rem;
    > blockquote, > p {
      margin: 0 0 1rem;
    }

    .blank {
      border-bottom: 2px black solid;
      @include bp-md-up {
        border-bottom-width: 4px;
      }
    }
  }
  > .explanation {
    padding: 1rem;
    background: rgba(black, 0.12);
  }
}
.interaction {
  margin: 1rem 0;
  font-size: 1.75rem;

  &.multiple-choice {
    > ul > li {
      margin: 0.25rem 1rem 0.25rem 0;
      padding: 0;
      cursor: pointer;

      > .index {
        display: block;
        font-family: $font-sans-serif;
        line-height: 1.25;
        margin-right: 0.25rem;
      }
      > .value {
        display: block;
        line-height: 1;
      }
      &:hover, &.selected {
        color: $color-musou;
      }
    }
  }
}
.interaction-ongoing .show-after-interaction {
  visibility: hidden;
}
.interaction-done .show-after-interaction {
  visibility: visible;
}
.answer {
  width: auto;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.atlas {
  max-width: 60rem;
  margin: 0 auto;
  > .draw {
    width: 100%;
    > svg {
      width: 100%;
    }
  }
}
.draw {
  $transitionDuration: 0.25s;
  circle.center {
    fill: none;
    stroke: none;
  }
  g.quote {
    rect {
      fill: $color-musou;
      stroke: none;
      opacity: 0.25;
      transition: opacity $transitionDuration;
    }
    text {
      fill: black;
      opacity: 0.75;
      transition: opacity $transitionDuration;
      &.media {
        font-size: 0.65rem;
        font-weight: bold;
      }
      &.and {
        opacity: 0.5;
        font-size: 0.75rem;
        font-weight: bold;
      }
    }
  }
  g.quote:hover {
    rect {
      opacity: 0.85;
    }
    text {
      opacity: 1;
      &.and {
        opacity: 0.5;
      }
    }
  }
  g.quote.yes {
    rect {
      fill: $color-watchout;
    }
  }
}
.draw.debug {
  circle.center {
    fill: $color-musou;
    stroke: none;
  }
  g.quote {
    rect {
      fill: none;
      stroke: $color-musou;
    }
    text {
      opacity: 0.25;
    }
  }
}
.atlas-tally {
  > .count {
    margin: 1rem 0;
    width: 50%;
    @include bp-sm-up {
      width: auto;
    }
    > .score {
      line-height: 1;
      > .value {
        font-size: 4rem;
      }
      > .unit {
        margin-left: 0.125rem;
      }
    }
    > .fraction {
      font-size: 0.85rem;
    }
  }
}
.atlas-regions {
  > .region {
    width: 50%;
    max-width: 20rem;
    margin-bottom: 1rem;
    @include bp-sm-up {
      width: 33.3333%;
    }
    > .score {
      line-height: 2rem;
      > .value {
        font-size: 2rem;
      }
      > .unit {
        margin-left: 0.125rem;
      }
    }
    > .draw {
      margin: 0.5rem 0 1rem;
    }
  }
}
.atlas-world {
  margin-left: -1rem;
  margin-right: -1rem;
  > .draw {
    background: url(../asset/world_map_mercator-mod.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}
